::-webkit-scrollbar {
  display: none;
}
  body{
    background-image: url(../images/background6.webp);
    background-color: rgb(245, 248, 248);
  }
  #menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }    
  .center-screen {
    margin-top: 10px;   
    min-height: 60vh;
    margin-left: 227.5;
    margin-right: 227.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .lowerPart {
    width: 800px;
    height: 51px;
    margin-left: 359px;
    border: 0.5px solid #0d0d0d;
    border-radius: 0 0 12px 12px;
    outline: #0d0d0d;
   
    
  }
  #sendBtn{
    font-size: 24px;
    border: 0;
    border-radius: 0 0 12px 0;
    height: 51px;
    width: 197px;
    cursor: pointer;
    outline: none;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px; 
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;  
    float: right;
}
  #sendBtn:active,
  #sendBtn:hover {
    outline: 0;
  }
  #msg{
    height: 49px;
    width: 599px;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #FFFFFF;
    background: #0f2027;
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    border: none;
    border-radius: 0 0 0 12px;
    outline: none;
    text-size-adjust: 20px;
  }
  .msgs{
    background-color: #fdfdfd;
    border: 0.5px solid #0d0d0d;
    height: 600px; 
    width:800px; 
    overflow: scroll; 
    float:left;
    color: rgb(10, 5, 10);  
    border-radius: 12px 12px 0 0;
    opacity: 0.85  ;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  /*
  #users{
    position: static;
    border: 0.5px solid #0d0d0d;
    border-radius: 0 25px 25px 0;
    height: 670px; 
    width:200px; 
    overflow: scroll;
    background-color: #cccccc;
    opacity: 0.85;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 86, 0.4738270308123249) 11%, rgba(0, 212, 255, 0.3897934173669467) 100%);
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: large;
    cursor: auto

  }
  #userMsg{
    text-align: right;
    font-size: large;
  }
  #botMsg{
    text-align: left;
  }
  */
  .bubbleWrapper {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
  }
  .inlineContainerUser::before{
    visibility: hidden;
  }
  .inlineContainerUser {
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: none;
  }
  .inlineContainerBot{
    visibility: hidden;
  }
  .inlineContainerBot {
    display: inline-flex;
    background-color: none;
  }
  .inlineIcon {
    width:40px;
    object-fit: contain;
  }
  .inlineIcon::before{
    visibility: hidden;
  }
  .BubbleUser {
    min-width: 100px;
    max-width: 700px;
    padding: 14px 18px;
    margin: 6px 8px; 
    border-radius: 16px 16px 0 16px;
    align-self: flex-end;
    background-color: #6C8EA4;
    border: 1px solid #54788e;
    color:  white;
  }
  .BubbleUser::before{
    visibility: hidden;
  }
  .BubbleBot {
    min-width: 100px;
    max-width: 700px;
    padding: 14px 18px;
    margin: 6px 8px; 
    border-radius: 16px 16px 0 16px;
    align-self: flex-start;
    background-color: #5b5377;
    border: 1px solid #443f56;
    color: white;
  }
  .BubbleBot::before{
    visibility: hidden;
  }
  span.own,
  span.other{
    font-size: 14px;
    color: grey;
  }