::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}
html,
  body{
    background-image: url(../images/background6.webp);
    height: 100%;
    background-color: rgb(245, 248, 248);
  }
  ul{
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    box-shadow: 0 0 32px #0003;
    font-weight: 300;
    list-style-type: none;
    height: 60px;
    width: 100%;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul a{
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 60px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    color:#9ab;
    transition: all .5s;
    text-align: center;
  }
  ul a:hover{
    color: #FFF;
  }
  li {
    float: left;
  }
  .center-screen {
    margin-top: 10px;   
    min-height: 60vh;
    margin-left: 227.5;
    margin-right: 227.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .lowerPart {
    max-height: 51px;
    margin-left: 227.5;
    margin-right: 227.5;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: center;
   
    
  }
  #sendBtn{
    font-size: 24px;
    border: 0;
    border-radius: 0 0 12px 0;
    height: 50px;
    width: 200px;
    cursor: pointer;
    outline: none;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px; 
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;  
    float: right;
}
  #sendBtn:active,
  #sendBtn:hover {
    outline: 0;
  }
  #msg{ 
    height: 50px;
    width: 600px;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #FFFFFF;
    background: #0f2027;
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    border: none;
    border-radius: 0 0 0 12px;
    outline: none;
    text-size-adjust: 20px;
  }
  #msg::-webkit-input-placeholder{
    /* Chrome/Opera/Safari */
    color: #FFFFFF;
  }
  #msg::-moz-placeholder{
    /* Firefox 19+ */
    color: #FFFFFF;
  }
  #msg:-moz-placeholder{
    /* Firefox 18- */
    color: #FFFFFF;
  }
  #msg:-ms-input-placeholder{
    /* IE 10+ */
    color: #FFFFFF;
  }
  .msgs{
    background-color: #fdfdfd;
    border: 0.5px solid #0d0d0d;
    height: 600px; 
    width:800px; 
    max-width: 100%;
    overflow-x: hidden; 
    float: left;
    color: rgb(10, 5, 10);  
    border-radius: 12px 12px 0 0;
    opacity: 0.85  ;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .bubbleWrapper {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
  }
  .inlineContainerUser {
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: none;
  }
  .inlineContainerBot {
    display: inline-flex;
    background-color: none;
  }
  .BubbleUser {
    float: right;
    overflow-y: scroll;
    width: auto;
    height: auto;
    padding: 14px 18px;
    margin: 6px 8px; 
    border-radius: 16px 16px 0 16px;
    align-self: flex-end;
    background-color: #6C8EA4;
    border: 1px solid #54788e;
    color:  white;
  }
  .BubbleBot {
    overflow-y: scroll;
    width: auto;
    height: auto;
    padding: 14px 18px;
    margin: 6px 8px; 
    border-radius: 16px 16px 16px 0;
    align-self: flex-start;
    background-color: #5b5377;
    border: 1px solid #443f56;
    color: white;
  }
  .inlineIcon{
    object-fit:contain;
    width: 50px;
  }

  @media only screen and (max-width: 500px){
    .outer {
      height: 40vh;
    }
  }